<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Wishlist</title>
        <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
        <script src="scripts/client.js" charset="utf-8"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>Home Wishlist</h1>
        <section class="admin">
            <input type="text" id="nameIn">
            <button type="button" id="newItemButton">Add Item</button>
            <ul class="wishlist">
            </ul>
            <button type="button" class="to-wishlist">Wishlist</button>
        </section>
        <section class="view">
            <ul class="wishlist">
            </ul>
            <button type="button" class="to-admin">Admin</button>
        </section>
    </body>
</html>
